<div class="content container">
  <div class="row hidden-xs">
    <div class="col-md-12">

      <div skrollr class="panel panel-default transparent_black65" data-start=" transform: scale(1.0); opacity:1.0;"
            data-500-start="opacity:0; transform: scale(0.25);">
          <div class="panel-body">
          <h1 class="ag-section-title hidden-xs hidden-sm">Agile Innovation 2014</h1>              
          <h3>Vendredi 21 Novembre</h3>
            <p>
            Les méthodes agiles sont devenues incontournables. Elles ont prouvé leur efficacité et l'heure n'est plus aux questions mais à l'action !
            </p>
            <p class="hidden-xs hidden-sm hidden-md">
            L'open space Agile Innovation ... C'est le rendez-vous pour tous les professionnels qui souhaitent savoir comment s'y prendre, découvrir, échanger, apprendre, expérimenter, tester, approfondir leurs connaissances, ou simplement discuter autour de l'agilité.
            </p>                        
        </div>
      </div>
    </div>
  </div>
</div>
