<div class="content container">
	  
 <div class="row visible-lg visible-md">
    <div class="col-md-12">
      <div class="panel panel-default transparent_black75">
        <div class="panel-body">
        <h1 class="ag-section-title">Présentation</h1>
        <p>
          L'équipe de l'Agile Innovation aura le plaisir de vous accueillir au Word Trade Center le 21 novembre 2014 pour une nouvelle journée d'échange autour de l'agilité.
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
